@media (min-width: 768px) {
	.main-nav {
		float:right;
	}
	.search-control{
		padding-right:0;
	}
	.navbar-header {
		width:100%;
	}
	.search-form {
		margin-top: 10px !important;
		margin-right: 10px !important;
		padding-right: 0;
	}
	.unit-nav {
		max-width: 320px;
	}
	.img-featured {
		max-width: 30%;
		padding: 0 5px;
	}
	.img-featured-right {
		float: right;
		padding-right: 0;
	}
	.img-featured-left {
		float: left;
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	.navbar-toggle {
		float:initial;
	}
	.search-control {
		padding-top: 9px;
		padding-bottom: 5px;
	}
	.navbar-collapse {
		margin-top:55px;
		margin-bottom: -5px;
		width:100%;
		border-top: 2px solid #828283 !important;
		border-bottom: 1px solid white;
	}
}

.navbar-toggle {
	margin: 0;
	margin-right:10px;
	margin-top:9px;
	padding:2px;
	border:none;
	float: left;
}

.navbar-toggle:focus, .navbar-toggle:hover {
	background: none !important;
}

body {
 	margin-bottom: 10px;
  	height: 100%;
  	background-image: linear-gradient(to bottom, #94A1B2 0%, #EDEDED 100%);
  	background-color: #EEE;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.glyphicon {
	color:#728fac;
}

.glyphicon:hover {
	color:#EEE;
}

address {
	margin: 0;
}

a {
	color: #003366;
	padding: 8px;
}

.header-wrapper {
	background: linear-gradient(to bottom left, #1F4D7B 0%, #003366 100%);
	background-color: #003366;
	min-height:60px;
	padding-top: 5px;

}

.navbar-default {
	background: none;
	border: none;
	padding-bottom: 5px;
	box-shadow: 0px 10px 15px rgba(0,0,0,.8); 	
}

.logo {
	margin-left: 12px;
	margin-right: 10px;
	float:left;
}

.main-nav {
	font-size: 1.7em;
}

.dropdown-toggle {
	background-color:transparent !important;
	border:0;
	padding:2px;
	margin-top:9px;
	margin-right:15px;
}

.dropdown-toggle:hover {
	outline: none !important;
}

.dropdown-menu > li > a {
	white-space: initial;
}

.navbar-form {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}

.search-form {
	padding-top: 0;
	padding-bottom: 0;
}

.search-group {
	margin-bottom: 0 !important;
}

.search-submit {
	padding: 1px 2px 2px 0;
	border: none;
	background: none;
}

.search-submit:hover {
	outline: none !important;
}

.search-box {
	padding-top: 5px;
	margin: 0;
	margin-top: -2px;
	font-size: 1.2em;
	border-radius: 0px;
}

.unit-nav {
	width:100%;
	margin-top: -1px;
	padding:0;
	border-radius: 0;
	background-color:#003366;
	border: none;
}

.unit-nav .glyphicon-play {
	margin-top: -1px;
}

.unit-nav>li {
	border-bottom: 1px solid white;
}

.unit-nav>li:first-child {
	border-top: 2px solid #828283;
}

.unit-nav>li>a {
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}

.unit-nav>li:hover .glyphicon {
	color:#EEE;
}

.unit-nav>li>a:hover, .unit-nav>li>a:focus {
	color:white;
	background-color: #002242;
}

.unit-link {
	top: 0;
	float: right;
	font-size: 1.5em;
}

body > .container {
  padding: 0px 10px 10px;
  width:100%;
}

.main-content {
	background-color: white;
	padding:10px;
	margin-top: -10px;
}

.main-content > article > h1 {
	text-align:left;
	font-size: 1.6em;
	margin-top: 0;
}

.img-featured {
	padding-bottom: 5px;
}

footer {
  margin: 0 10px;
  min-height: 120px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #AAA;	
  min-height:120px;
  text-align:center;
  color:white;
  padding:5px;

}

footer h1 {
		font-size: 1.4em;
	margin: 5px 0;
}

footer a {
	display: inline-block;	
}