
/* CSS Document */

abbr, acronym { cursor: help; }

code, kbd {
	font-family: "Courier New", monospace;
	font-size: 1.25em;
}

q { font-style: italic; }

.b { font-weight: bold; }

.center { text-align: center; }

.i { font-style: italic; }

.left, .right { margin: 0.5em; }

.left { float: left; }

.right { float: right; }

.u { text-decoration: underline; }

.exitUNCG {
	background: url("/wrapper/images/externallink.png") no-repeat scroll 100% 50% transparent;
	padding-right: 15px;
}

#uncgAdobeDownload,#uncgFlashDownload, #uncgOfficeDownload, #uncgMacromediaDownload, #uncgQuicktimeDownload, #uncgRealDownload, #uncgWindowsMediaDownload {
	min-height: 30px;
	padding-left: 30px;
}

#uncgAdobeDownload { background: url("/wrapper/images/pdf2.gif") no-repeat scroll 0 0 transparent; }

#uncgMacromediaDownload { background: url("/wrapper/images/mmicon.gif") no-repeat scroll 0 0 transparent; }

#uncgOfficeDownload { background: url("/wrapper/images/officeicon.gif") no-repeat scroll 0 0 transparent; }

#uncgQuicktimeDownload { background: url("/wrapper/images/qticon.gif") no-repeat scroll 0 0 transparent; }

#uncgRealDownload { background: url("/wrapper/images/rmicon.gif") no-repeat scroll 0 0 transparent; }

#uncgWindowsMediaDownload { background: url("/wrapper/images/wmicon.gif") no-repeat scroll 0 0 transparent; }
